PORT=5000

SUPABASE_URL=<https://fnhkgnbadrajrlpfjahv.supabase.co>

SUPABASE_KEY=<sb_publishable_d8cpzjZRblQcsmE4zyRX_g_1KOjFpVO>

JWT_SECRET=transitops_secret_key_123_abc_xyz
JWT_EXPIRE=7d
NODE_ENV=development